* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  color: rgb(238, 238, 238);
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(35, 35, 35);
  text-align: center;
}

.btn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 5px solid white;
  margin: 2.5rem;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.pink {
  background-color: #d95980;
}

.orange {
  background-color: #f99b45;
}

.cyan {
  background-color: #63aac0;
}

.blue {
  background-color: #819ff9;
}

.flash {
  background-color: white;
}
